{% extends "base.html" %}

{% block body %}
<div class="area-content">
    <div class="markdown-body">
        {{ markdown_content|safe }}

        {% if images_count > 0 %}
            <h3>
                {% if images_count == 1 %}
                    The before..
                {% else %}
                    The befores..
                {% endif %}
            </h3>
        {% endif %}
    </div>
    <ul class="image-grid">
    {% for image in images %}
        <li>
            <img src="{{ image }}" alt="{{ title }} - {{ loop.index0 }}">
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}