<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&display=swap" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <a href="/" class="header-link" style="grid-area: home;">&#127968; Home</a>
        <a href="{{ url_for('quiz.start_quiz') }}" class="header-link" style="grid-area: quiz;">📝 Quiz</a>
        <a href="{{ url_for('quiz.leaderboard') }}" class="header-link" style="grid-area: score;">🏆 Scores</a>
        <h1 style="grid-area: title;">{{ title }}</h1>
        {% if description %}<p style="grid-area: sub;">{{ description }}</p>{% endif %}
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>

</html>