{% extends "base.html" %}
{% block body %}
<div class="area-content" style="max-width:400px;margin:0 auto;">
    <form method="post">
        <label for="password">Wachtwoord:</label><br>
        <input type="number" inputmode="decimal" pattern="[0-9]*" id="password" name="password" required style="width:100%;margin-bottom:1rem;">
        {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
        <button type="submit" class="simple-link">Inloggen</button>
    </form>
    <a href="{{ url_for('quiz.leaderboard') }}" class="simple-link" style="margin-top:2rem;">Terug naar ranglijst</a>
</div>
{% endblock %}
